[submodule "rmcs-auth-api"]
	path = rmcs-auth-api
	url = https://github.com/chandrawi/rmcs-auth-api
[submodule "rmcs-resource-api"]
	path = rmcs-resource-api
	url = https://github.com/chandrawi/rmcs-resource-api
[submodule "rmcs-auth-db"]
	path = rmcs-auth-db
	url = https://github.com/chandrawi/rmcs-auth-db
[submodule "rmcs-resource-db"]
	path = rmcs-resource-db
	url = https://github.com/chandrawi/rmcs-resource-db
